@import "reset"

body
  font-size 16px
  font-family sans-serif
  padding 20px

.hero
  text-align center
  margin-left auto
  margin-right auto

.hero_item
  display inline-block
  height 150px
  width 150px
  border-radius 5px
  margin 150px 15px
  border 1px solid black

.hero_btn
  display block
  height 65px
  width 150px
  margin auto
  font-size 18px
  text-transform uppercase
  color: #fff
  background-color #1C90F3
  border 1px solid #1C90F3
  border-radius 5px

.hero_btn:hover
  background-color #3EA1F5
